.editable-title
    display block

    &__spin
        display none

        &_visible
            display block

    &__title
        margin-bottom 1px
        display none

        &_visible
            display block

    &__input
        font-weight normal
        display none

        &_visible
            display block
