.dialog
    flex 1
    display flex
    flex-flow column
    text-align center

    &__blank
        display none
        text-align center
        font-size 12px
        margin 12px 0

    &__emoji, &__speech
        position absolute
        bottom 0
        height 50px
        width 50px
        line-height 50px
        text-align center
        font-size 30px
        transition all .3s
        cursor pointer
        color #acacac

        &:hover
            color black

    &__emoji
        right 0

    &__speech
        right 40px
        top 2px
