.message
    position relative
    padding-left 13px
    margin-left 45px

    &__smile
        display inline-block
        margin-bottom -0.25em

    &__username
        display inline-block
        font-weight bold
        font-size 13px

    &__time
        display inline-block
        margin-left 1em
        font-size 10px
        color #777

    &__content
        margin-top 2px
        width 98%

        p
            white-space pre-wrap
            overflow hidden
            text-overflow ellipsis

        code
            display inline-block
            padding 6px
            background #f7f7f9
            border 1px solid #e1e1e8
            border-radius 3px

        pre
            word-break normal
            word-wrap break-word

    &__avatar
        position absolute
        top 0
        left -32px

    &__image
        cursor pointer
        border 1px solid rgba(0, 0 , 0, .1)

    &_group
        .message__content:hover:before
            content attr(data-time)
            font-size 10px
            color #777
            position absolute
            left -28px
            top 3px

    &__delimiter
        text-align center
        width 90%
        margin 13px auto
        position relative

        &:before
            content ''
            width 100%
            height 1px
            position absolute
            top 50%
            left 0
            background-color rgba(0, 0, 0, .2)

    &__date
        position relative
        background white
        color #666
        display inline-block
        font-weight bold
        padding 0 13px
